In [6]:
df = read.csv(file = "../../results/df-water-access.csv")

In [7]:
head(df) # clean df at next save (2 cluster columns - only 1 needed; etc) #df also needs to be only water accessibility variables

  X Country     ptap bore pspr uspr pwel uwel surw tles ... pipy truc ctan bott
1 1 Afghanistan 14.2 20.1 4.7  8.6  18.5 11.1  7.3 45.2 ...  4.8  1.5 4.4   0.2
2 2 Albania      2.4  1.4 2.5  0.8   4.1  0.8  0.0 20.6 ...  5.2 14.1 0.2  19.6
3 3 Angola      10.3  1.9 3.3  4.8   9.1  8.3 18.0 46.1 ...  9.7  9.7 4.3   1.2
4 4 Armenia      0.5  0.2 1.0  0.1   0.2  0.0  0.0  1.6 ...  8.0  1.5 0.0   0.0
5 5 Azerbaijan   3.5  9.3 7.5  1.1   6.2  0.2  7.0 18.7 ... 19.7  9.5 0.7   0.1
6 6 Bangladesh   2.7 86.4 0.0  0.3   0.2  0.6  1.2 22.7 ...  3.3  0.0 0.1   0.3
  uiws othw iwsp basw liws watp
1 28.7 1.7  35.4 65.3 5.0  45.3
2  1.6 0.1  77.0 97.0 0.9  77.9
3 33.1 1.8  32.6 57.0 7.5  34.5
4  0.1 0.0  97.6 99.1 0.1  97.6
5  9.4 1.1  71.2 86.4 3.4  75.9
6  2.2 0.1  75.1 96.4 1.3  75.5

In [8]:
df["norm"] <- apply(df[3:13], 1, function(x) sqrt(sum(x^2)) ) #assuming columns 5:10 are the water accessibility variables
# Ideally, df should just be the countries and the water access. variables ONLY. This, way, the code should then be:
# df["norm"] <- apply(df, 1, function(x) sqrt(sum(x^2)) )

In [9]:
df["distToCentroid"] = 0 # initialize

# assuming centroiddf.wa is your vector of cluster centroids

# copied this from your earlier notebook
df.wa.aggregate <- aggregate(df.wa, list(clusters=dfsimple$clusters4), mean)
df.wa.aggregate <- df.wa.aggregate[,2:12]
centroiddf.wa <- apply(df.wa.aggregate, 1, function(x) sqrt(sum(x^2)) ) #How close is each country to the cen-troid of the cluster

                       
# Then here, you compute the distance to centroid cluster by cluster
df[df$clusters4 == 1, "distToCentroid"] = df[df$clusters4 == 1, "norm"] - centroiddf.wa[1]
df[df$clusters4 == 2, "distToCentroid"] = df[df$clusters4 == 1, "norm"] - centroiddf.wa[2]
df[df$clusters4 == 3, "distToCentroid"] = df[df$clusters4 == 1, "norm"] - centroiddf.wa[3]
df[df$clusters4 == 4, "distToCentroid"] = df[df$clusters4 == 1, "norm"] - centroiddf.wa[4]
                       
# You can then sort each subset by the size of "distToCentroid"

ERROR: Error in aggregate(df.wa, list(clusters = dfsimple$clusters4), mean): object 'df.wa' not found