In [30]:
df = read.csv(file = "../../results/dfsimple.csv")

In [31]:
head(df) # clean df at next save (2 cluster columns - only 1 needed; etc) #df also needs to be only water accessibility variables

  X Country     Year Survey imws phom pipy ptap bore pwel <U+22EF>   watp tles
1 1 Afghanistan 2015 DHS    71.2  2.3  4.8 14.2 20.1 18.5 <U+22EF> 45.3 45.2
2 2 Albania     2018 DHS    98.4 48.8  5.2  2.4  1.4  4.1 <U+22EF> 77.9 20.6
3 3 Angola      2016 DHS    66.9  4.3  9.7 10.3  1.9  9.1 <U+22EF> 34.5 46.1
4 4 Armenia     2016 DHS    99.9 88.3  8.0  0.5  0.2  0.2 <U+22EF> 97.6  1.6
5 5 Azerbaijan  2006 DHS    90.6 34.0 19.7  3.5  9.3  6.2 <U+22EF> 75.9 18.7
6 6 Bangladesh  2014 DHS    97.8  4.3  3.3  2.7 86.4  0.2 <U+22EF> 75.5 22.7
  tmor bicy acar mcyc pcar boat wigc clusters4
1  8.2 30.0 5.8  35.2 11.8 0.0  0.1  1
2  1.1 26.4 3.2   9.6 37.0 0.7  0.1  2
3 15.6  4.6 1.3  17.8 10.9 0.4  0.3  3
4  0.1  8.6 0.4   0.2 39.2 0.3  0.1  2
5  4.4  6.9 3.3   1.1 20.4 0.1  0.0  4
6  1.6 25.1 0.0   6.4  0.8 0.0  0.3  1

In [40]:
df["norm"] <- apply(df[5:10], 1, function(x) sqrt(sum(x^2)) ) #assuming columns 5:10 are the water accessibility variables
# Ideally, df should just be the countries and the water access. variables ONLY. This, way, the code should then be:
# df["norm"] <- apply(df, 1, function(x) sqrt(sum(x^2)) )

In [38]:
df["distToCentroid"] = 0 # initialize

# assuming centroiddf.wa is your vector of cluster centroids

# copied this from your earlier notebook
df.wa.aggregate <- aggregate(df.wa, list(clusters=dfsimple$clusters4), mean)
df.wa.aggregate <- df.wa.aggregate[,2:12]
centroiddf.wa <- apply(df.wa.aggregate, 1, function(x) sqrt(sum(x^2)) ) #How close is each country to the cen-troid of the cluster

                       
# Then here, you compute the distance to centroid cluster by cluster
df[df$clusters4 == 1, "distToCentroid"] = df[df$clusters4 == 1, "norm"] centroiddf.wa[1]
df[df$clusters4 == 2, "distToCentroid"] = df[df$clusters4 == 1, "norm"] centroiddf.wa[2]
df[df$clusters4 == 3, "distToCentroid"] = df[df$clusters4 == 1, "norm"] centroiddf.wa[3]
df[df$clusters4 == 4, "distToCentroid"] = df[df$clusters4 == 1, "norm"] centroiddf.wa[4]
                       
# You can then sort each subset by the size of "distToCentroid"